<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="az_Colas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <az_Colas.My.MySettings>
            <setting name="sNombreCola" serializeAs="String">
                <value>prueba</value>
            </setting>
            <setting name="sCuenta" serializeAs="String">
                <value>labaz</value>
            </setting>
            <setting name="sKey" serializeAs="String">
                <value>FVW2hGnfJHhyRdDdLi+57EqSSzNuKOn6zmqOdqBKicnFsZ4m8RSABnBOY7APHdxdV9WHh4fD0NbizSAeT4fghQ==</value>
            </setting>
        </az_Colas.My.MySettings>
    </userSettings>
</configuration>